#windows ignores for properties changes
Assignment1_minipaint\Debug
Assignment1_minipaint\.cproject
Assignment1_minipaint\.project

#mac ignores for properties changes
Assignment1_minipaint/Debug
Assignment1_minipaint/.cproject
Assignment1_minipaint/.project
